body {
	background: #E0F0FF;
	font-family: Helvetica, sans-serif;
	color: black;
	text-align: left;
	font-size: 12pt;
}

p{
	font-family: Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	font-style: italic;

}

h2{
	font-family: Helvetica, sans-serif;
	color:#2E3D4C;
}




#job1 {
	font-family: Arial, sans-serif;
	text-align: center;
	color:#2E3D4C;
	font-size: 36px;
}

